/Assignment 1/nbproject/private/
/Assignment 1/build/
/Assignment1/nbproject/private/
/Profile_Assignment/nbproject/private/
/Assignment Profile/nbproject/private/
/Assignment Profile/build/
/Lab 2 Demo/nbproject/private/
/Assignment 2/nbproject/private/
/Assignment 2/build/
/Assignment 4/Assignment4/nbproject/private/
/Assignment 4/Assignment4/build/
/JavaApplication17/nbproject/private/
/JavaApplication17/build/
